html, body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  overflow-y: hidden;
}

.folder {
  font-weight: bold;
}

#container {
  display: flex;
}

#file-tree {
  width: 300px;
  height: 100%;
  border-right: 2px solid black;
  overflow-x: scroll;
  overflow-y: auto;
  padding-left: 10px;
}

#editor-container {
  flex: 1;
  height: 87%;
  word-break: break-all;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}
